<%= content_for :stylesheets do %><%= stylesheet_link_tag 'home.css' %><%- end %>
<%= content_for :stylesheets do %><%= stylesheet_link_tag 'chat/chats.css.scss' %><%- end %>

<%= render '/shared/header' %>
<%= javascript_tag do%>
  window.guestUrl = '<%= current_user.guest_url %>';
<% end %>

<% content_for :js_code do %>
    <%= javascript_include_tag "jquery.hipchat", "hipchat.include" %>
<% end %>
<div class="hipchat-support feature"></div>