<!DOCTYPE html>
<html>
<head>
  <title>Bakar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield :stylesheets %>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/aui/5.6.10/aui-next/css/aui.min.css" type="text/javascript" charset="utf-8"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="user_nav">

</div>

<%= yield %>

</body>
</html>
